*.class

*.war
*.ear

**/dragon/
.gradle
.gradletasknamecache
maven-publish.gradle
gradlew.bat
build/
**/build/
**/bin/

/out
.DS_Store
.idea
*.ipr
*.iws
*.iml
*.swp

hp*.sh
node_modules/

######################
# Eclipse
######################

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
/bin
